:root {
  --bg-image: url("/assets/pattern-bg.png");
  --bg-green: #012c1f;
  --dark-green: #08512d;
  --light-green: #1b7d3b;
  --color-pri: white;
  --color-sec: black;
  --color-ter: rgb(0, 0, 0, 0.7);
  --color-qua: rgba(255, 255, 255, 0.4);
  --font-pri: "Roboto", sans-serif;
  --font-sec: "Oswald", sans-serif;
  --font-ter: "Montserrat", sans-serif;
}

body {
  color: white;
  background-color: var(--bg-green);
  background-image: var(--bg-image);
  font-family: var(--font-pri);
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: [page-start] 64px [content-start] 1fr [content-end] 64px [page-end];
  grid-auto-flow: row;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-pri);
  color: rgba(34, 34, 34, 0.7);
}

input,
textarea,
select {
  font-family: var(--font-pri);
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  padding-left: 10px;
}

textarea {
  padding-top: 10px;
  min-height: 87px;
  max-height: 300px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: solid 2px var(--light-green);
  border-radius: 1px;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  border: solid 4px var(--light-green);
  border-radius: 50%;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  cursor: pointer;
}

input[type="submit"]:active,
input[type="button"]:active,
button:not(.owl-next):not(.owl-prev):active {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-sec);
}

h1 {
  line-height: 1em;
  letter-spacing: 0.015em;
}

p {
  margin: 0px;
  font-size: 14px;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-sec);
  background-image: var(--bg-image);
  grid-column: page;
  background-color: var(--color-pri);
  padding: 2px 0px;
  transition: margin-bottom 250ms linear, transform 250ms linear;
}

.notification.hide {
  animation: displayNone 1s 1s 1 forwards;
  transform: translate(0px, -50px);
  margin-bottom: -50px;
}

#hamburger-menu.hide {
  animation: displayNone 1s 1s 1 forwards;
  padding: 0px 16px;
  height: 0px;
}

@keyframes displayNone {
  from {
  }

  to {
    display: none;
  }
}

.notification-close {
  box-sizing: border-box;
  padding: 3px 0px 0px 1px;
  background-color: var(--light-green);
  position: absolute;
  top: 50%;
  border: none;
  right: 30px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(0%, -50%);
}

.notification a {
  color: var(--light-green);
  text-decoration: underline;
}

.notification p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.nav-bar {
  z-index: 1;
  font-family: var(--font-sec);
  font-weight: 500;
  grid-column: page;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
}

nav {
  background-color: var(--dark-green);
  background-image: var(--bg-image);
}

.nav-header,
nav {
  padding: 0rem 11.5%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .search {
  color: var(--color-pri);
  background-color: var(--bg-green);
  background-image: var(--bg-image);
  border: none;
  padding: 4px 16px 0px;
  height: 40px;
  width: 255px;
}

nav .search:focus {
  outline: 1px solid var(--light-green);
  border-radius: 1px;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
}

nav .search::placeholder {
  font-size: 16px;
  font-family: var(--font-sec);
  font-weight: 500;
  color: var(--color-qua);
}

.nav-header .nav-menu a {
  padding: 0px;
  margin-left: 12px;
  font-size: 16px;
  height: 40px;
  background-color: var(--dark-green);
  background-image: var(--bg-image);
  width: 148px;
}

.nav-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0px 31px;
  height: 60px;
  font-size: 18px;
  transform: skewX(-15deg);
  transition: background-color 150ms ease-in;
}

.nav-menu li {
  white-space: nowrap;
  transform: skewX(14deg);
}

.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu a:active,
.nav-menu a::selection {
  background-color: var(--light-green);
}

.nav-logo {
  width: 139px;
  height: 33px;
}

.page-title {
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1.07fr;
  align-items: center;
  grid-column: page;
  justify-items: start;
}

.page-title-left h1 {
  transform: skewX(15deg);
  font-weight: 400;
  font-size: 50px;
}

.page-title-left {
  margin-left: -16px;
  padding-left: 180px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--light-green);
  background-image: var(--bg-image);
  transform: skewX(-15deg);
}

.page-title-right * {
  transform: skewX(15deg);
}

.page-title-right {
  padding-left: 66px;
  padding-right: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-pri);
  background-image: var(--bg-image);
  transform: skewX(-15deg);
}

.page-title-right span {
  font-family: var(--font-sec);
  font-weight: 600;
  font-size: 14px;
  color: var(--light-green);
  transform: translate(42px, -6px) skewX(15deg);
}

[class^="page-title-"] {
  height: 100px;
}

main {
  grid-column: page;
  display: grid;
  grid-template-columns: [page-start] 11.19vw [content-start] 1px [featured-start] 1fr [featured-end] 29px [aside-start] 256px [aside-end] 1px [content-end] 11.19vw [page-end];
  grid-auto-flow: row;
}

.hero-section {
  position: relative;
  grid-column: page;
  height: 549px;
  margin-bottom: 80px;
}

.hero-section::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url(/assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.hero-slide {
  box-sizing: border-box;
  gap: 6.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 31px;
  min-width: 387px;
  transform: translate(-26px, -14px);
  width: 33%;
  max-width: 700px;
}

.hero-content h1 {
  line-height: 1em;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.015em;
}

.hero-content p {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.5px;
  letter-spacing: 0.37px;
}

.hero-thumbnail {
  position: relative;
}

.hero-thumbnail button {
  background-color: var(--bg-green);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  padding-left: 15px;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 80%;
}

.hero-thumbnail img {
  display: initial !important;
  width: initial !important;
}

.owl-dot.active {
  background-color: var(--color-pri) !important;
}

.owl-carousel.hero {
  height: 100%;
}

.hero .owl-stage-outer {
  box-sizing: border-box;
  height: 100%;
}

.hero .owl-stage-outer .owl-stage {
  height: 100%;
}

.hero .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.owl-dots {
  left: 50%;
  bottom: 44px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 0%);
}

.owl-dot {
  background-color: var(--color-qua) !important;
  display: inline-block;
  margin: 4px;
  width: 20px;
  height: 7px;
  border-radius: 0px;
  transition: background-color 150ms ease-in;
}

.owl-nav button.owl-prev {
  background: transparent url("/assets/hero-slider-leftt-arrow.png") no-repeat
    center !important;
  left: 40px;
}

.owl-nav button[class^="owl-"] {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  background-size: contain !important;
  width: 18px;
  height: 40px;
}

.owl-nav button.owl-next {
  background: transparent url("/assets/hero-slider-right-arrow.png") no-repeat
    center !important;
  right: 40px;
}

.events-section {
  grid-column: aside;
  position: relative;
}

.events-list {
  background-color: var(--light-green);
  background-image: var(--bg-image);
  position: absolute;
  width: 100%;
}

.event {
  display: flex;
  margin: 20px 20px;
  gap: 10px;
}

.event .event-marker {
  color: var(--light-green) !important;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-ter);
  background-color: white;
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-list .event-link {
  display: flex;
  gap: 1px;
  flex-direction: column;
}

.events-list .event-link span {
  color: rgba(255, 255, 255, 0.7);
}

.events-list .event-link a {
  font-family: var(--font-sec);
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: var(--color-qua);
  text-underline-offset: 3px;
  transition: text-shadow 150ms ease-in;
}

.events-list .event-link a:hover {
  text-shadow: 2px 2px 0px var(--bg-green);
}

.events-list h3 {
  font-weight: 400;
  font-size: 20px;
  padding: 9px 21px;
  background-color: var(--dark-green);
  background-image: var(--bg-image);
  margin-bottom: 10px;
}

.posts-section,
.featured-section,
.banners-section {
  grid-column: featured;
  position: relative;
  margin-bottom: 40px;
}

.featured-product {
  background-color: rgba(8, 81, 45, 0.2);
  background-image: var(--bg-image);
  padding: 9px;
}

.featured-section .owl-nav button.owl-next {
  right: 0px;
}

.featured-section .owl-nav button.owl-prev {
  left: 0px;
}

.featured-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-section .owl-dots {
  bottom: -36px;
}

.featured-section .owl-dots .owl-dot {
  height: 5px;
  width: 16px;
  margin: 3px;
}

.owl-carousel.featured {
  position: static !important;
  width: 49.89vw;
}

.posts-section {
  margin-top: 34px;
  border-top: 1px solid var(--color-qua);
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.post {
  position: relative;
  background-color: var(--light-green);
  background-image: var(--bg-image);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 62px;
}

.post img {
  width: 100%;
}

.post .post-content {
  padding: 13px;
}
.post h3 {
  text-transform: uppercase;
  line-height: 27px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 4px;
}

.post p {
  margin: 0px;
}

.post footer {
  position: absolute;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  background-image: var(--bg-image);
  inset: auto 0px 0px 0px;
}

.post footer span {
  font-family: var(--font-sec);
  font-size: 20px;
  font-weight: 400;
}

.banners-section {
  margin-bottom: 80px;
}

.banner {
  box-sizing: border-box;
  background-image: var(--bg-image);
  background-color: var(--dark-green);
  display: grid;
  grid-template-columns: 60% 40%;
  height: 237px;
}

.banner:last-child {
  grid-template-columns: 40% 60%;
}

.banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 43px 6px 32px;
  gap: 7px;
}

.banner .banner-header {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  word-spacing: 3px;
}

.banner .banner-img {
  object-fit: cover;
  object-position: center;
  height: 237px;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 87% 100%, 0% 100%);
}

.banner:last-child .banner-img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13% 100%);
  order: 2;
}

.banner:first-child {
  background-image: var(--bg-image);
  background-color: var(--light-green);
}

.main-footer {
  grid-column: page;
}
.main-footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-image);
  background-color: var(--dark-green);
}

.main-footer-header {
  margin-top: 30px;
  margin-bottom: 17px;
  font-size: 30px;
  word-spacing: 2px;
  font-weight: 400;
}

form {
  accent-color: var(--light-green);
  caret-color: var(--light-green);
  display: grid;
  grid-template-columns: [form-start] 1fr 1fr [form-end];
  column-gap: 30px;
  row-gap: 15px;
  margin-bottom: 40px;
  width: 540px;
}

form input:not([type="radio"]):not([type="button"]):not([type="submit"]),
form textarea,
form select {
  height: 36px;
}

label,
legend {
  font-family: var(--font-sec);
  font-weight: 400;
  font-size: 16px;
  padding: 0px;
}

form .form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field.message,
.form-field.gender,
.submit-button-area {
  grid-column: form;
}

.submit-button-area {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button-area input {
  font-family: var(--font-sec);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-pri);
  background-color: var(--bg-green);
  background-image: var(--bg-image);
  height: 36px;
  width: 160px;
}

.form-field.gender {
  border: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.option {
  margin-top: 11px;
  margin-right: 12px;
}
.option input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.option input[type="radio"] + label:before {
  content: "";
  background: var(--color-pri);
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 0.1em;
  margin-right: 0.3em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.option input[type="radio"]:checked + label:before {
  background-color: var(--light-green);
  box-shadow: inset 0 0 0 4px var(--color-pri);
}
.option input[type="radio"]:focus + label:before {
  outline: none;
  border-color: var(--light-green);
}
.option input[type="radio"]:disabled + label:before {
  box-shadow: inset 0 0 0 4px var(--color-pri);
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.option input[type="radio"] + label:empty:before {
  margin-right: 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0px;
}

.footer-nav p {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--font-sec);
}

.footer-nav p a {
  margin: 0px 10px;
  transition: color 150ms ease-in;
}

.footer-nav p a:hover {
  color: var(--light-green);
}

.footer-nav li img {
  transition: filter 150ms ease-in;
}

.footer-nav li:hover img {
  filter: drop-shadow(9px 5px 0px black);
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-nav span {
  font-family: var(--font-ter);
  font-size: 14px;
  font-weight: 300;
}

.breakpoint {
  display: none;
}

/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/
/**Media Queries**/

@media (max-width: 640px) {
  .page-title {
    display: none;
  }

  .main-footer .footer-nav p {
    width: 360px;
  }

  .notification p {
    font-size: 12px;
    line-height: 24px;
  }

  #hamburger-menu .links {
    display: flex;
    flex-direction: column;
  }

  nav#hamburger-menu {
    height: calc(100vh - 120px);
  }

  .main-footer-form .main-footer-header {
    font-size: 24px;
    font-weight: 400;
  }

  form {
    width: 100%;
    column-gap: 0px;
    grid-template-columns: [section-start] 15px [form-start] 1fr [form-end] 15px [section-end];
  }

  form > * {
    grid-column: form;
  }

  .posts-section {
    grid-template-columns: 1fr !important;
    padding-top: 30px !important;
  }

  main .banners-section .banner {
    grid-template-columns: 1fr !important;
    height: auto;
  }

  main .banners-section .banner:last-child .banner-content {
    transform: translate(0px, 10px);
    padding-bottom: 28px !important;
  }

  .banners-section .banner-content {
    padding: 15px 12px 18px 12px !important;
  }

  .banners-section .banner .banner-img {
    height: 191px;
    object-position: 35% 50% !important;
    order: initial !important;
    clip-path: none !important;
  }

  .hero-slide .hero-thumbnail {
    transform: translate(-7px, 3px);
  }

  .hero-slide .hero-thumbnail > img {
    transform: translate(1px, -8px);
  }

  .hero-slide .hero-thumbnail button img {
    transform: translate(-2px, 1px);
  }

  .hero-slide .hero-content {
    max-width: 346px;
    transform: translate(0px, -10px);
  }

  .hero-slide .hero-thumbnail button {
    transform: translate(-40%, -68%);
  }

  .hero-section .owl-carousel .owl-dots {
    bottom: 47px;
    transform: translate(-70px, 0px);
  }

  .owl-carousel.featured .owl-dots {
    bottom: -36px !important;
  }

  .post .post-img {
    max-height: 162px !important;
  }

  .post {
    padding-bottom: 62px !important;
  }

  .post h3 {
    max-width: 295px;
    line-height: 27px;
  }

  .post footer a {
    transform: translate(-20px, 2px);
  }

  .post .post-content {
    padding: 21px 10px 11px;
  }

  .posts-section {
    gap: 20px;
  }

  .events-list {
    transform: translate(0px, -14px) !important;
  }
}

@media (max-width: 840px) {
  .nav-bar.desktop {
    display: none;
  }

  .nav-top {
    padding: 20px 16px !important;
  }

  img.nav-logo {
    width: 94px;
    height: 21px;
  }

  .breakpoint {
    display: unset;
  }

  .notification {
    padding: 0px 50px 0px 16px;
  }

  .nav-header {
    padding: 0px !important;
    height: initial;
    flex-direction: column;
  }

  .nav-top {
    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-top .hamburger-button {
    background-image: url(/assets/burger-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 25px;
    border: none;
  }

  .nav-header .nav-menu {
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.404);
  }

  .border-right {
    border-right: 2px solid var(--color-pri);
  }

  .nav-header .nav-menu a {
    width: 50%;
    margin: 0px;
    transform: skewX(0deg);
  }

  .nav-header .nav-menu a * {
    transform: skewX(0deg);
  }

  #hamburger-menu {
    box-sizing: border-box;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    padding: 8px 16px;
    height: 150px;
    transition: all 150ms ease-in-out;
  }

  #hamburger-menu .nav-menu a {
    padding: 17.6px 34px;
    width: 50%;
    margin-left: -14px;
    height: initial;
    justify-content: flex-start;
  }

  #hamburger-menu .links {
    display: flex;
  }

  #hamburger-menu .nav-menu {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  #hamburger-menu .search-icon {
    right: 11px;
  }

  #hamburger-menu .nav-menu .search {
    width: 100%;
    padding: 4px 9px 0px;
  }

  #hamburger-menu .nav-menu .search-bar {
    width: 100%;
    margin-bottom: 21px;
  }

  .hero-section {
    height: 551px !important;
    margin-bottom: 40px !important;
  }
  .hero-slide {
    flex-direction: column-reverse;
  }

  .hero-content {
    max-width: 345px;
    width: 100% !important;
    min-width: min-content !important;
    gap: 16px !important;
  }

  .hero-slide .hero-thumbnail img {
    max-width: 194px !important;
  }

  .hero-slide .hero-thumbnail button {
    height: 60.6px;
    width: 60.6px;
  }

  .hero-slide .hero-thumbnail button img {
    width: 20px !important;
  }

  .hero-slide .hero-content h1 {
    font-size: 30px;
    line-height: 39px;
  }

  .hero-slide .hero-content p {
    font-size: 16px;
    line-height: 22px;
  }

  body main {
    grid-template-columns: [page-start] 15px [content-start] 1fr [content-end] 15px [page-end] !important;
  }

  .posts-section,
  .featured-section,
  .banners-section,
  .events-section {
    grid-column: content;
    position: relative;
    margin-bottom: 40px;
  }

  .owl-carousel.featured {
    width: 91.89vw;
    transform: translate(0px, 0px) !important;
  }

  .events-section {
    order: 5;
  }

  .posts-section {
    margin-top: 23px !important;
  }

  .events-list {
    position: relative;
    padding-bottom: 10px;
  }
}

@media (max-width: 1100px) {
  .notification button {
    right: 15px;
    padding: 4px 0px 0px 1px;
  }

  .events-list {
    transform: translate(3px, -3px);
    padding-bottom: 10px;
  }

  .nav-header,
  nav {
    padding: 0px 16px;
  }

  .nav-menu a {
    font-size: 16px;
    padding: 0px 20.6px;
  }

  [class^="page-title-"] {
    height: 80px;
  }

  .page-title {
    grid-template-columns: 2fr 1.06fr;
  }

  .page-title-right {
    transform: skewX(-18deg);
  }

  .page-title-left {
    margin-left: -20px;
    padding-left: 31px;
  }

  .page-title-left h1 {
    font-size: 40px;
  }

  main {
    grid-template-columns: [page-start] 16px [content-start] 1px [featured-start] 1fr [featured-end] 48px [aside-start] 256px [aside-end] 1px [content-end] 16px [page-end] !important;
  }

  .hero-section {
    height: 451px;
    margin-bottom: 61px;
  }

  .hero-thumbnail img {
    max-width: 274px !important;
  }

  .hero-thumbnail button {
    transform: translate(-39%, -53%);
  }

  .hero-thumbnail {
    margin-bottom: 28px;
    transform: translate(-7px, 13px);
  }

  .hero-slide {
    justify-content: flex-start;
    padding: 0px 15px 45px 15px;
    gap: 11.7%;
  }

  .hero-content h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-content {
    transform: translate(0px, 11px);
    width: 49%;
    margin: 0px;
    gap: 19px;
  }

  .hero-section .owl-dots {
    bottom: 36px;
    transform: translate(-56px, 0px);
  }

  .banners-section {
    margin-bottom: 62px;
  }

  .banner {
    grid-template-columns: 50% 50% !important;
  }

  .banners-section .banner:last-child .banner-content {
    transform: translate(-3px, 1px);
  }

  .banner:last-child {
    grid-template-columns: 48% 52% !important;
  }
  .banner:first-child {
    grid-template-columns: 52% 48% !important;
  }

  .banner:last-child .banner-img {
    object-position: 24% 50%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
  }

  .banner:first-child .banner-img {
    object-position: 1% 50%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  }

  .owl-carousel.featured {
    transform: translate(0px, 47px);
  }

  .owl-carousel.featured .owl-dots {
    bottom: -41px;
  }

  .posts-section {
    margin-top: 85px;
    grid-template-columns: 1fr 1fr;
  }

  .post .post-img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    object-position: center;
  }

  .post .post-content {
    padding: 16px 8px 10px 8px;
  }

  .post .post-content h3 {
    margin-bottom: 4px;
    word-spacing: 2.6px;
  }

  .post {
    padding-bottom: 82px;
  }
}

@media (max-width: 1280px) {
  main {
    grid-template-columns: [page-start] 16px [content-start] 1px [featured-start] 1fr [featured-end] 29px [aside-start] 256px [aside-end] 1px [content-end] 16px [page-end];
  }
}

@media (min-width: 1101px) {
  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: block !important;
  }
}

/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
/** global styles **/
.font-xxl {
  font-size: 50px;
}

.font-xl {
  font-size: 30px;
}

.font-l {
  font-size: 20px;
}

.font-m {
  font-size: 18px;
}

.font-s {
  font-size: 16px;
}

.font-xs {
  font-size: 14px;
}

.font-pri {
  font-family: var(--font-pri);
}

.font-sec {
  font-family: var(--font-sec);
}

.font-ter {
  font-family: var(--font-ter);
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
